@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*{
  /* outline: 1px solid skyblue; */
  scrollbar-width: none; 
}
body {
  @apply bg-lightYellow text-black ; /* Default styles for light mode */
}
body.dark {
  @apply bg-gray-900 text-white; /* Styles for dark mode */
}

